
@{
    ViewBag.Title = "Services";
}


<style>
    .link {
        margin-right: 10px;
    }
</style>
<a href="/">Home</a>
<a href="/Landingpage/Teams_and_members">Teams_and_members</a>
<a href="/Landingpage/Contact">Contact</a>


<h1>OUR SERVICES</h1><br><br>
<h3> @ViewBag.Software_Development</h3><br>
<h3> @ViewBag.Web_Development</h3><br>
<h3> @ViewBag.Mobile_App_Development</h3><br>
<h3> @ViewBag.IT_Consulting</h3><br>
<h3> @ViewBag.Data_Analytics</h3><br>